body{
background:#ECECEC;
}

a {
outline:none !important;
}

.navbar{
	max-height:32px;
	min-height: 32px;
	padding: 2px;
	margin: 0px auto;
	background-color: #3E6FB7;
	border: 0px;
}



.navbar-nav > li > .dropdown-menu {
	background-color: #FFF;;
}

.navbar-default .navbar-nav > .open > a{
	background-color: #6D96D1;
}



.navbar-nav li  a{
	padding-top: 4px;
	padding-bottom:4px;
	color: #FFF !important;
	font-size:12px;
}


.navbar-nav  li ul li a{
	padding-top: 4px;
	padding-bottom:4px;
	color: #000 !important;
}

.navbar-nav>li>a:hover{
	text-decoration:underline;
	background-color: #6D96D1 !important;
}


.navbar-brand{
	padding-top: 3px;
	padding-bottom: 3px;
	max-height:32px;
	min-height: 32px;
	color: #FFF !important;
}

























.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
