.footer {
    height: 40px;
    background-color:  #3E6FB7;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 10px;
    padding-top: 10px;
    color:#fff;
}

a {
outline:none !important;
}

.footer a{
    color:#fff;
}

html, body {
  height: 100%;
  margin: 0;
  border: 0 none;
  padding: 0;
}

body{
	background-image: url(/public/templates/default/img/struct/bg/bg.jpg);
	background-repeat: repeat-x;
	background-color: #D2C9A8;
	height:100%;
}

#root_container{
	height:100%;
	width: 100%;
	display: table;
	max-width:1000px;
}

.container{
	padding: 0px;
}


#main_container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 9px;
	background-color: #FFF;
	padding: 6px;
	min-height:100%;
	
display: table;
width: 100%;
min-height: 90%;
}


#top_menu{

}

#top_menu>.navbar{
	padding: 0px;
	max-height:32px;
	min-height: 32px;
	margin: 0px auto;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	background-color: #3E6FB7;
	border: 0px;
	font-size:13px;
	border: 1px solid #ACBDF2;
	border-color: -moz-use-text-color #ACBDF2 #ACBDF2;
	border-top: 0px;
}


#top_menu .navbar-nav > li > .dropdown-menu {
	background-color: #FFF;
}

#top_menu .navbar-default .navbar-nav > .open > a{
	background-color: #6D96D1;
}



#top_menu .navbar-nav li a{
	padding-top: 6px;
	padding-bottom:6px;
	color: #fff;
}


#top_menu .navbar-nav  li ul li a{
	padding-top: 3px;
	padding-bottom:3px;
	color: #000;
	font-size:13px;
}

#top_menu .navbar-nav>li>a:hover{
	text-decoration:underline;
	background-color: #6D96D1 !important;
}

#top_menu .navbar-brand{
	padding-top: 6px;
	max-height:32px;
	min-height: 32px;
	color: #fff;
}

#top_menu .container{
	padding-left: 10px;
	padding-right: 10px;
}


#logodivbottom {
    text-align: right;
}

#logodiv {
    text-shadow: 0px -1px 0px #CCC, 0px -2px 0px #C9C9C9, -1px -3px 0px #BBB, -2px -4px 0px #B9B9B9, -3px -5px 0px #AAA, -4px -6px 1px rgba(0, 0, 0, 0.1), -4px 0px 5px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.3), -2px -3px 5px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.25), -3px -10px 10px rgba(0, 0, 0, 0.2);
    font-size: 52px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 60px;
    float: right;
}

#logodivbottom span {
    __line-height: 13px;
    background-color: #428BCA;
    color: #FFF;
    padding: 2px 3px;
    border-radius: 4px;
    box-shadow: -3px -3px 4px rgba(50, 50, 50, 0.39);
    font-size: 13px;
}

.top-buffer {
	margin-top:20px; 
}

.top-buffer-sm {
	margin-top:10px; 
}

.FrontendUserMenu{
font-size:13px;
}

.FrontendUserMenu .nav > li > a{
	padding: 6px 15px;
}

#board_add_header{
	border-bottom: 1px solid #D3D7CF;
	height: 23px;
	padding: 2px;
}

#board_add_header h1{
	font-size: 20px;
	margin:0px;
}

.red{
color:red;
}

.add_categories_list{
	cursor:pointer;
	padding: 2px;
}

.add_categories_list.active{
	background:#D9EDF7;
}

.add_categories_list:hover{
	background:#D9EDF7;
}

.add_categories_list.level_1{
	display:none;
}
.add_categories_list.level_2{
	display:none;
}


.board_add_id_categiry_row1{
	background: rgb(222, 222, 222) none repeat scroll 0% 0%;
}
.board_add_id_categiry_row1 div{
	padding:4px;
	font-weight: bold;
	border-bottom: 2px solid gray;
	height: 30px;
}

#modal__board_add_id_categiry .modal-body{
	padding-top:0px;
}

.board_add_id_categiry_row2>div{
	padding: 0px 0px 0px 10px;
	height: 300px; 
	overflow-y: scroll;
	max-height:300px;
}

.category_selector .input-group-addon{
	color: rgb(255, 255, 255);
	background-color: #337AB7;
}

.category_selector .input-group-addon:hover{
	background-color: #2A6699;
}


#button__board_add_id_categiry{
	margin-left: 35%;
}

#board_add__category_selector{
	display:none;
}

#boardaddform-price{
	display: inline;
	width: 66%;
}

.field-boardaddform-id_valuta{
	display: inline;
	width: 33%;
	margin: 0px;
	padding:0px;
}


#boardaddform-id_valuta{
	display: inline;
	width: 33%;
}


.b_add_tooltip_list{
margin-left:5px;
padding:0px;
}

.b_add_tooltip_list li{
margin-left:5px;
}

div.category_names{
font-size:13px;
margin-top: 2px;
color: #6E6E6E;
}

div.category_names a{
	color: #6E6E6E;
	font-size:13px;
}

div.category_names a:hover{
	text-decoration:none;
}


div.obj_name{
	font-size: 16px;
	font-weight: bold;
}

div.obj_img{
	text-align: center;
}

div.obj_img img{
	max-height: 60px;
	max-width: 60px;
	border-radius: 5px;
}

div.obj_price{
	padding-top: 15px;
	white-space:nowrap;
	text-align:right;
}

div.obj_price b{
	color:#4e9a06;
}



.board_item_h1{
	font-size: 28px;
	margin: 0px;
}

.board_under_h1{
	margin-top:5px;
	color:gray;
}


.board_block_city{
	
}


.image_obj_item img{
	padding: 3px;
	border: 1px solid rgb(209, 209, 209);
	border-radius: 5px;
	margin: 5px;
}

.image_obj_item img:hover{
	border: 1px solid #729fcf;
}




.thumb_obj{
 margin:15px;
 float: left;
}







ul#imageGallery li{
	text-align:center;
}

.lSSlideOuter .lSPager.lSGallery img{
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	padding: 2px;
	border-radius: 9px;
	opacity: 0.5;
}

.lSSlideOuter .lSPager.lSGallery li.active img{
border-color: #0081FF;
opacity: 1;
}






.paginationdiv{
	height: 40px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.paginationdiv .pages a{
	margin-right: 4px;
	margin-left: 4px;
	border: 1px #D7DAEF solid;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.35);
}

.paginationdiv .pages a:hover{
	box-shadow: none;
	text-decoration:none;
}

.paginationdiv .pages a.current_page{
background: rgb(240, 240, 240) none repeat scroll 0% 
}

.board_obj_list_cat_item{
	float: left;
	padding: 2px;
	margin: 4px;
	text-align: center;
	height: 140px;
	width: 115px;
	line-height: 15px;
	font-size: 14px;
	font-weight: bold;
}



.board_obj_list_cat_item div img{
}

.board_obj_list_cat_item:hover div img{
}

.board_obj_list_cat_item:hover div.board_obj_list_cat_item_text{
	color: rgb(255, 255, 255);
	background-color: #337ab7;
	padding: 3px 4px 3px 4px;
	border-radius: 5px;
}




.board_obj_list_cat_item_main{
	float: left;
	padding: 2px;
	margin: 4px;
	text-align: center;
	width: 150px;
	height: 160px;
	line-height: 15px;
	font-size: 14px;
	font-weight: bold;
}



.board_obj_list_cat_item_main div img{
	opacity:0.7;
	width:125px; 
	height:125px;
}

.board_obj_list_cat_item_main:hover div img{
	opacity:1;
}



.sortbar{
	font-size: 13px;
	float: right;
	padding-right: 10px;
	color: gray;
}

.sortbar a{
	padding-left:5px;
}

.sortbar span{
	color:#000;
	padding-left:5px;
}


a.collapsed:hover{
	text-decoration:none;
}












.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    /*left:-100%;
    margin-left:10px;
        
    */
margin-left:-490px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.categoryy_tree_box ul{
/*width:250px;*/
}

.categoryy_tree_box ul li ul{

}

.categoryy_tree_box ul li{
width:100%;
}

.categoryy_tree_box ul li.selected{
  background-color:#729fcf;
}

.categoryy_tree_box ul li a{
width:100%;
overflow:hidden;
}











@media screen and (min-width:400px) and (max-width:995) {


}




.main_cat_item_container{
margin-bottom:20px; display: table; margin-top: 20px;
}

.main_cat_item_inner{
width:14.28%; float:left;
padding: 5px;
border: 1px #efefef solid;
border-style: dotted;
min-width: 140px;
height: 200px;
}

.main_cat_item_inner_img{
height: 110px;
overflow-y: hidden;
}

.main_cat_item_inner_text{
text-align: center; font-size: 16px; font-weight: bold;
padding: 3px;
}


.main_cat_item_inner_text nobr{
padding: 2px 7px;
width: 100%;
display: block;
}

.main_cat_item_inner:hover nobr{
background-color: rgb(40, 96, 144);
color: rgb(255, 255, 255);
border-radius: 5px;
}


.main_welcome_list_item {
    font-size: 15px;
    padding-left: 25px;
    margin-left: 10px;
    color: #4E4E4E;
    background-image: url('/public/templates/default/img/ico/apply_8023.png');
    background-repeat: no-repeat;
    background-position: 0px 3px;
    margin-top: 9px;
}


.main_cursite_district_list{
	margin-top: 10px;
	margin-left: -5px;
	margin-right: -6px;
	background-color: #f7faff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.main_cursite_district_list li{
	display: inline;
}













.bx-wrapper{
	margin-bottom: 0px;
	box-shadow: unset;
	/*width: 630px;*/
}


.bx-wrapper img{
	margin-left: auto;
	margin-right: auto;
	min-height: 200px;
	min-width: 200px;
}

#bx-pager{
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#bx-pager a{
	text-align: center;
	display: table;
	float: left;
	margin-left: 4px;
	border: 1px gray solid;
	border-radius: 4px;
	padding: 1px;
}

#bx-pager > a:nth-child(1){
	margin-left: 0px;
}

#bx-pager a img{
	border-radius: 4px;
	height: 50px;
	width: 50px;
}

ul.bxslider > li {
}

ul.bxslider > li[aria-hidden="true"]{
}

ul.bxslider > li[aria-hidden="true"] * {
	height:10px;
}


#modal_alert_message{
	padding: 8px;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


.obj_unpublished_cause{
margin: 3px 3px 3px 5px;
padding: 1px;
background: rgb(108, 0, 0) none repeat scroll 0% 0%;
width: 250px;
color: #fff;
text-align: center;
border-radius: 5px;
}


.stxt{
	
}

.stxt h2{
	margin: 0px;
	font-size: 18px;
	margin-bottom: 5px;
}

.stxt h3{
	margin: 0px;
	font-size: 17px;
	margin-bottom: 5px;
}

.stxt *{
	color: #a5a5a5;
}



#root_container {
	display: table;
}

#top_menu {
	display: table-row;
}

#main_container_outer{
	display: table-row;
	height: 100%;
}

#bottom_menu{
    display: table-row;
}

#main_container{
display: table;
width: 100%;
height: 99%;
}


.board_item_about_content{
word-break: break-all;
}

.main_page_map_img_container{
padding-top:5px; text-align: center;
}

.main_page_right_service_container{
float: right; width: 280px; height: 300px; background: none repeat scroll 0% 0% rgba(241, 244, 249, 1); border-radius: 9px; padding: 10px;
}

.board_index_selector_categories_tree{
text-align: right; padding-top: 10px;
}


.bx-viewport{
height: 290px !important;
}







@media screen and (max-width:1000px) {
	.board_index_selector_categories_tree{
		display:none;
	}
} 






@media screen and (max-width:900px) {
	.main_page_map_img_container{
		display:none;
	}

	.main_page_right_service_container{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 350px;
	}

} 

